<h2>index</h2>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
   
<div class="cart">      
  <div id="cart-text" class="cart__action cart__color"  data-current-user-name="<%= @user.name %>"></div>
    
    <div class="cart__action">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      一番下
    </div>
</div>
