<h2 class="heading">Lineup</h2>

<% if current_user.admin_flag? %>
  <div class="container">
    <%= link_to 'New Cake !!', new_cake_path, class: 'button button__lg button__newcake' %>
  </div>
<% end %>

<div id="cakelist">
  <%= render 'layouts/list',
      model_name: 'Cake',
      models: @cakes,
      sort_path: 'sort_cakes_path',
      sort_buttons_text: @genre_names,
      active_button_index: 0 %>
</div>

<div class="cart">
  <div id="cart-text" class="cart__action cart__color">
    カートに0個のアイテムが入っています
  </div>

  <div class="cart__action">
    <div id="cart-box" class="cart__box"></div>
    <p>
      <button id="buy-button" class="button button_lg">購入</button>
    </p>
  </div>
</div>


