<h2 class="heading">User List</h2>

<div id="userlist">
  <%= render 'layouts/list',
      model_name: 'User',
      models: @users,
      sort_path: 'sort_users_path',
      sort_buttons_text: ['全員', '管理者', '顧客'],
      active_button_index: 0 %>
</div>