<%= stylesheet_link_tag 'homes', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="slider-container">
  <% @image_slide_animation_array.each do |i| %>

    <div class="wrapper">
      <!--each文を二つ廻す-->
      <% i["image"].each do |j| %>
        <%= image_tag j, class: 'slide' %>
      <% end %>     
    </div>
  <% end %>
</div>

<div id="typewriter-text" data-current-user-name="<%= @user.name %>"></div>