/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 65px;
}

.header{
  height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e6b8af;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  &__logo{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  }
}




.accordion{

  position: absolute;
  top: 100px;
  right:0;




  &__item {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
    color: black;
    padding: 10px;
    margin:10px;
    text-align: center;
    list-style: none;
    overflow: hidden;
    transition: opacity 0.8s;

    &.active{
      background-color: black;
      color: gold;
    }

    &:hover,
    &:active{
      background-color: black;
      color: gold;

      & > a{
        color: gold;
      }
    }

    &:not(:first-child) {
      height: 0;
      opacity: 0;
      padding: 0;
      margin: 0;

      &.visible {

        height: 60px;
        opacity: 1;
        padding: 10px;
        margin:10px;

      }
    }
  }
}

.flash {
  padding: 10px;
  text-align: center;

  &__notice {
    color: #004085;
    background-color: #cce5ff;
    border-bottom: 1px solid #b8daff;
  }

  &__alert {
    color: #721c24;
    background-color: #f8d7da;
    border-bottom: 1px solid #f5c6cb;
  }
}