.slider-container {
 width: 100%;
 margin: 0 auto;
 display: flex;
 align-items: center;
 overflow: hidden;
}

.wrapper {
 display: flex;
 animation: slide-flow 15s infinite linear 1s both;
}

.slide{
 width: 200px;
 height: 100px;
 object-fit:cover;
 border: 1px solid #ddd;
}

@keyframes slide-flow {
 0% {transform: translateX(0);}
 100% {transform: translateX(-100%);
 }
}

#typewriter-text {
 font-family: 'Playfair Display', serif;
 text-align: center;
 font-weight: normal;
  font-size: 20px;
}

.slide-paused:hover .wrapper {
 animation-play-state: paused;
 transform: scale(1.3);
 }

.slide-puused:hover .wrapper img:hover {
 opacity: .8;
 cursor: grabbing;
 transform: scale(1.3);
}

.cake {
 position: relative;
 width: 70%;
 height: 400px;
 overflow: hidden;
 margin: 0 auto;
 
 
 
 &__img1, &__img2, &__img3, &__img4, &__img5{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
 }
 
  &__img1{
   background-image: url("cake.image/cake1.jpg");
   animation: slide-animation-01 30s infinite;
  }
 
  &__img2{
   background-image: url("cake.image/cake2.jpg");
   animation: slide-animation-02 30s infinite;
  }
  
  &__img3{
   background-image: url("cake.image/cake3.jpg");
   animation: slide-animation-03 30s infinite;
  }
  
  &__img4{
   background-image: url("cake.image/cake4.jpg");
   animation: slide-animation-04 30s infinite;
  }
  
  // &__img5{
  //  background-image: url("cake.image/cake5.jpg");
  //  animation: slide-animation-05 24s infinite;
  // }
}

@keyframes slide-animation-01 {
 0% {opacity: 1; transform: scale(1.0);}
 10% {opacity: 1;}
 20% {opacity: 0; transform: scale(1.1);}
 40% {opacity: 0}
 60% {opacity: 0}
 80% {opacity: 0}
100% {opacity: 1; transform: scale(1.0);}
}

@keyframes slide-animation-02 {
 0% {opacity: 0;}
 10% {opacity: 0;}
 20% {opacity: 0; transform: scale(1.1);}
 40% {opacity: 1;}
 60% {opacity: 1;}
 80% {opacity: 0; transform: scale(1.0);}
100% {opacity: 0;}
}

@keyframes slide-animation-03 {
 0% {opacity: 0;}
 10% {opacity: 0; transform: scale(1.1);}
 20% {opacity: 1;}
 40% {opacity: 0;}
 60% {opacity: 0;}
 80% {opacity: 1;}
100% {opacity: 0; transform: scale(1.0);}
}

@keyframes slide-animation-04 {
 0% {opacity: 0;}
 10% {opacity: 1;}
 20% {opacity: 0; transform: scale(1.1);}
 40% {opacity: 0;}
 60% {opacity: 1;}
 80% {opacity: 0;}
100% {opacity: 0; transform: scale(1.0);}
}

// @keyframes slide-animation-05 {
//  0% {opacity: 0;}
//  60% {opacity: 0; transform: scale(1.0);}
//  70% {opacity: 1;}
//  90% {opacity: 1;}
// 100% {opacity: 0; transform: scale(1.1);}
// }